
td{
  padding:5px;
  border: 1px solid #fff;
  background-color:silver;
  color: darkred;
}
button{
  padding: 5px;
  border: 1px solid #222;
  width:80px;
}
button.delete{
  background: darkred;
  color:white;
}
button.update{
  background: darkgreen;
  color:white;
}
